<section class="my-5 container-fluid form-register border rounded">
  <form (ngSubmit)="submit()" #myForm="ngForm" class="">
    <h1 class="my-5 text-center">Register</h1>
    <div class="my-4">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        class="form-control shadow-none"
        placeholder="Username"
        name="username"
        required
      />
    </div>
    <div class="my-4">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control shadow-none"
        placeholder="Email Address"
        [(ngModel)]="form.email"
        name="email"
        #email="ngModel"
        required
      />
    </div>
    <div
      *ngIf="email.invalid && (email.dirty || email.touched)"
      class="validatingInput"
    >
      Provide a valid email address
    </div>
    <div class="my-4">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control shadow-none"
        placeholder="Password"
        [(ngModel)]="form.password"
        name="password"
        #password="ngModel"
        required
      />
    </div>
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="validatingInput"
    >
      You need to create your own password
    </div>
    <div class="my-4">
      <label for="password">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        class="form-control shadow-none"
        placeholder="Confirm Password"
        [(ngModel)]="form.confirmPassword"
        name="confirmPassword"
        #confirmPassword="ngModel"
      />
    </div>
    <div [hidden]="confirmPassword.valid">confirm pasword</div>
    <div class="form-check">
      <input
        class="form-check-input shadow-none"
        type="checkbox"
        value=""
        id="termsCheck"
        required
      />
      <label class="form-check-label" for="termsCheck">
        Agree to Terms of Use & Privacy Policy
      </label>
    </div>
    <!-- <div class="">You must agree before submitting.</div> -->
    <div class="my-4 text-center">
      <button
        type="submit"
        [disabled]="myForm.form.invalid"
        class="btn btn-sm btn-primary text-uppercase rounded-0"
      >
        <ng-container *ngIf="!isLoading()" class=""> Register Now</ng-container>
        <ng-container *ngIf="isLoading()" class=""> Loading... </ng-container>
      </button>
    </div>
  </form>
</section>
<p class="text-center">
  Already have an account? <a href="" routerLink="/login">Log in.</a>
</p>
