<nav
  class="navbar navbar-expand-lg sticky-top"
  style="background-color: #39cccc"
>
  <div class="container-fluid my-1">
    <a class="navbar-brand" href="#">E-Commerce!</a>
    <div class="btn-group">
      <ng-container *ngIf="!isAuthenticated()">
        <button
          class="btn border-0 mx-1"
          id="signinSmallScreen"
          routerLink="login"
        >
          <span class="bi bi-person fs-3" style="color: black"></span>
        </button>
      </ng-container>
      <ng-container *ngIf="isAuthenticated()">
        <button (click)="logout()" class="btn border-0 mx-1" id="logOut">
          <i class="bi bi-box-arrow-left fs-3"></i>
        </button>
      </ng-container>
      <button
        type="button"
        class="position-relative btn-sm border-0 bg-coral"
        id="cartSmallScreen"
        routerLink="cart"
      >
        <i class="bi bi-cart-plus fs-3"></i>
        <span
          class="position-absolute top-0 start-100 translate-middle badge bg-teal"
          style="font-size: 10px"
        >
          {{ totalItem }}
          <span class="visually-hidden">Cart</span>
        </span>
      </button>
      <button
        class="navbar-toggler btn border-0 shadow-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
      >
        <span
          class="bi fs-1"
          [ngClass]="{ 'bi-list': !menuToggle(), 'bi-x-lg': menuToggle() }"
        ></span>
      </button>
    </div>
    <div class="container-fluid align-items-center d-flex">
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarNav"
      >
        <ul class="navbar-nav">
          <li class="nav-item pe-3 text-uppercase">
            <a class="nav-link active" aria-current="page" routerLink="/"
              >Home</a
            >
          </li>
          <li class="nav-item pe-3 text-uppercase">
            <a class="nav-link" routerLink="/about">About </a>
          </li>
          <li class="nav-item pe-3 text-uppercase">
            <a class="nav-link" routerLink="/products">Shop</a>
          </li>
          <li class="nav-item pe-3 text-uppercase">
            <a class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="list-unstyled navbar-nav align-items-center">
          <li class="mx-1">
            <ng-container *ngIf="!isAuthenticated()">
              <a routerLink="login" class="nav-link">
                <button class="btn border-0">
                  <span class="bi bi-person fs-3" style="color: black"></span>
                </button>
              </a>
            </ng-container>
            <ng-container *ngIf="isAuthenticated()">
              <button (click)="logout()" class="btn border-0">Log Out</button>
            </ng-container>
          </li>
          <li>
            <a class="nav-link" routerLink="cart">
              <button
                type="button"
                class="position-relative btn-sm border-0 bg-coral"
              >
                <i class="bi bi-cart-plus fs-3"></i>
                <span
                  class="position-absolute top-0 start-100 translate-middle badge bg-teal"
                  style="font-size: 11px"
                >
                  {{ totalItem }}
                  <span class="visually-hidden">Cart</span>
                </span>
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
