<section class="container-fluid py-5 g-0" id="footer">
  <div class="row">
    <!--First Column containing few content about Ecommerce app and their socials-->
    <div class="col-sm">
      <h2>Ecommerce App</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum delectus
        possimus vitae minus placeat asperiores consectetur iste maiores ratione
      </p>
    </div>
    <!--end column 1-->
    <!--second column containing the navigation-->
    <div class="col-sm">
      <h2 class="text-uppercase fs-5 fw-medium">Menu</h2>
      <div>
        <ul class="list-unstyled">
          <li class="my-3">
            <a href="" class="text-decoration-none">Home</a>
          </li>
          <li class="my-3">
            <a href="" class="text-decoration-none">Shop</a>
          </li>
          <li class="my-3">
            <a href="" class="text-decoration-none">Who We Are</a>
          </li>
          <li class="my-3">
            <a href="" class="text-decoration-none">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <!--end column 2-->
    <!--third column containing queries, return policy information, terms&condition-->
    <div class="col-sm">
      <h2 class="text-uppercase fs-5 fw-medium">Queries</h2>
      <div>
        <ul class="list-unstyled">
          <li class="my-3">
            <a href="" class="text-decoration-none">Terms&Conditions</a>
          </li>
          <li class="my-3">
            <a href="" class="text-decoration-none">Return Policy</a>
          </li>
          <li class="my-3">
            <a href="" class="text-decoration-none">FAQs</a>
          </li>
          <li class="my-3">
            <a href="" class="text-decoration-none">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
    <!--end column 3-->
    <!--fourth column containing contact information, like address, email-->
    <div class="col-sm">
      <h2 class="text-uppercase fs-5 fw-medium">Get In Touch</h2>
      <div>
        <ul class="list-unstyled">
          <li class="d-flex my-2">
            <span class="bi bi-house fs-4"></span>
            <p class="mx-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </li>
          <li class="d-flex my-3">
            <span class="bi bi-telephone fs-4"></span>
            <p class="mx-3">
              <a href="tel://+2349036831386">+2349036831386</a>
            </p>
          </li>
          <li class="d-flex my-3">
            <span class="bi bi-envelope-at fs-4"></span>
            <p class="mx-3">
              <a href="mailto:josepheniola28@gmail.com">sayhello@ecommerce</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <!--end column 4-->
  </div>
  <hr />
  <div class="row align-items-center">
    <div class="col-sm">
      <p class="fw-light" style="font-size: 18px">
        © Copyright E-Commerce 2023. Designed and Developed by
        <a href="" class="text-decoration-none">Joseph.</a>
      </p>
    </div>
    <div class="col-sm">
      <ul class="list-unstyled d-flex justify-content-center">
        <li class="mx-3">
          <a href="" class="bi bi-youtube fs-2" style="color: #ff0000"> </a>
        </li>
        <li class="mx-3">
          <a href="" class="bi bi-facebook fs-2" style="color: #4267b2"></a>
        </li>
        <li class="mx-3">
          <a href="" class="bi bi-instagram fs-2" style="color: #e1306c"></a>
        </li>
        <li class="mx-3">
          <a href="" class="bi bi-twitter fs-2" style="color: #1da1f2"></a>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <ul class="list-unstyled d-flex justify-content-center">
        <li class="mx-3">
          <span>
            <img
              src="assets/mastercard.png"
              alt="mastercard"
              class="img-fluid"
            />
          </span>
        </li>
        <li class="mx-3">
          <span>
            <img src="assets/visacard.png" alt="visa" class="img-fluid" />
          </span>
        </li>
        <li class="mx-3">
          <span>
            <img
              src="assets/americanexpress.png"
              alt="americanexpress"
              class="img-fluid"
            />
          </span>
        </li>
        <li class="mx-3">
          <span>
            <img src="assets/discover.png" alt="discover" class="img-fluid" />
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
